.catalog__content-wrap
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet qui obcaecati, officiis, facilis, molestiae excepturi sint pariatur ad corporis rerum distinctio et impedit mollitia alias repudiandae reiciendis exercitationem temporibus dolore.
