include /partials/select
include /partials/button
include /partials/input

.create-service
  .create-service__title
    h4.text-surfie-green Create new service
  .create-service__content
    .row
      div(class="col-12 col-md-6 col-xl-3 mb-25")
        .form-group
          .form-group__header
            p Service
          +select({
            label:{name:'translation', content:`<span>Translation</span>`},
            options:[
              {name:'translation', content:`<span>Translation</span>`},
              {name:'translation 2', content:`<span>Translation 2</span>`},
              {name:'translation 3', content:`<span>Translation 3</span>`},
            ]
          })
      div(class="col-12 col-md-6 col-xl-5 mb-25")
        .form-group
          .form-group__header
            p Matt name
          .row-group.row-group--sm.row-group--flex-1
            .row-group__item
              +select({
                label:{name:'DHL', content:`<span>DHL</span>`},
                options:[
                  {name:'DHL', content:`<span>DHL</span>`},
                  {name:'DHL 2', content:`<span>DHL 2</span>`},
                  {name:'DHL 3', content:`<span>DHL 3</span>`},
                ]
              })
            .row-group__item
              +input({bg:'alabaster'})(value="Value = 1 vnt")
            .row-group__item
              .input-group
                .input-group__prepend
                  p €
                +input({bg:'alabaster', classes:'input-group__input'})(type="number" placeholder="Price")
      div(class="col-12 col-md-6 col-xl-3 mb-25")
        .form-group
          .form-group__header
            p Languages:
          .row-group.row-group--flex-1.row-group--sm
            .row-group__item
              +select({
                label:{name:'source', content:`<span>Source</span>`},
                options:[
                  {name:'source', content:`<span>Source</span>`},
                  {name:'source 2', content:`<span>Source 2</span>`},
                  {name:'source 3', content:`<span>Source 3</span>`},
                ]
              })
            .row-group__item
              +select({
                label:{name:'target', content:`<span>Target</span>`},
                options:[
                  {name:'target', content:`<span>Target</span>`},
                  {name:'target 2', content:`<span>Target 2</span>`},
                  {name:'target 3', content:`<span>Target 3</span>`},
                ]
              })
      div(class="col-12 col-md-6 col-xl-3 mb-25")
        .form-group
          .form-group__header
            p Urgency
          .row-group.row-group--sm
            .row-group__item.row-group__item--flex-1
              +select({
                label:{name:'lating', content:`<span>Lating</span>`},
                options:[
                  {name:'lating', content:`<span>Lating</span>`},
                  {name:'lating 2', content:`<span>Lating 2</span>`},
                  {name:'lating 3', content:`<span>Lating 3</span>`},
                ]
              })
            .row-group__item
              +button({bg:'white', size:'40', shadow:true})
                +icon({name:'plus', fill:'surfie-green', width:'10', height:'10', classes:'button__icon'})
      div(class="col-12 col-md-6 col-xl-2 mb-25")
        .form-group
          .form-group__header
            p Time frame
          +select({
            label:{name:'-1 hours', content:`<span>-1 hours</span>`},
            options:[
              {name:'-1 hours', content:`<span>-1 hours</span>`},
              {name:'-1 hours 2', content:`<span>-1 hours 2</span>`},
              {name:'-1 hours 3', content:`<span>-1 hours 3</span>`},
            ]
          })
      div(class="col-12 col-md-6 col-xl-2 mb-25")
        .form-group
          .form-group__header
            p + fee / -%
          +input({bg:'alabaster'})(value="-15 %")

    .row
      div(class="col-12 mb-25")
        +button({type:'inline', color:'surfie-green'})
          +icon({name:'plus', fill:'surfie-green', width:'10', height:'10', classes:'button__icon'})
          span Create one more

    .row
      div(class="col-12 col-xl-4 mb-25")
        .row-group.row-group--align-center
          .row-group__item.row-group__item--flex-1
            .form-group
              .form-group__header
                p Repeatitions:
              +input({bg:'alabaster'})(value="30%")
          .row-group__item
            h4.text-surfie-green.mt-25 =
          .row-group__item.row-group__item--flex-1
            .form-group
              .form-group__header
                p Discount:
              +input({bg:'alabaster'})(value="50%")

    .row
      div(class="col-12 mb-25")
        +button({type:'inline', color:'surfie-green'})
          +icon({name:'plus', fill:'surfie-green', width:'10', height:'10', classes:'button__icon'})
          span Create one more

    .row
      div(class="col-12")
        +button({bg:'surfie-green'})
          span Update / Create
          +icon({name:'plus', fill:'white', width:'10', height:'10', classes:'button__icon'})
