.application-form
  width: 100%
  &__title
    margin-bottom: 20px
  &__item
    &:not(:last-child)
      margin-bottom: 20px
  &__heading
    background-color: $c-white
    border-radius: $r-primary
    box-shadow: $s-primary
    padding: 18px 60px
  &__card
    background-color: $c-white
    border-radius: $r-primary
    box-shadow: $s-primary
    padding: 30px 60px
    &-line
      &:not(:last-child)
        margin-bottom: 25px
