.button
  position: relative
  display: inline-flex
  justify-content: center
  align-items: center
  padding: 12px 15px
  color: $c-white
  font-size: rem(14px)
  line-height: 1
  font-weight: 600
  z-index: 1
  border-radius: $r-primary
  transition: 0.2s
  background-color: $c-surfie-green
  border: 1px solid transparent
  transition: 0.2s
  user-select: none
  cursor: pointer
  &:hover
    background-color: darken($c-surfie-green, 8%)
  &:focus
    color: $c-white
    background-color: darken($c-surfie-green, 8%)
    box-shadow: 0 0 0 0.2rem rgba($c-surfie-green, .5)
  &:active
    background-color: darken($c-surfie-green, 10%)

  // Types
  &--fluid
    width: 100%
  &--round
    border-radius: 50%
  &--shadowed
    box-shadow: $s-primary
  &--bordered
    color: $c-surfie-green
    background-color: transparent
    border-color: $c-surfie-green
    &:hover
      color: $c-white
      border-color: darken($c-surfie-green, 8%)
      background-color: darken($c-surfie-green, 8%)
      svg
        fill: $c-white
    &:focus
      border-color: darken($c-surfie-green, 8%)
      background-color: darken($c-surfie-green, 8%)
      svg
        fill: $c-white
    &:active
      border-color: darken($c-surfie-green, 10%)
      background-color: darken($c-surfie-green, 10%)
  // Background colors
  &--bg-cornflower-blue
    background-color: $c-cornflower-blue
    &:hover
      background-color: darken($c-cornflower-blue, 8%)
    &:focus
      color: $c-white
      background-color: darken($c-cornflower-blue, 8%)
      box-shadow: 0 0 0 0.2rem rgba($c-cornflower-blue, .5)
    &:active
      background-color: darken($c-cornflower-blue, 10%)
  &--bg-white
    color: $c-surfie-green
    background-color: $c-white
    &:hover
      background-color: darken($c-white, 5%)
    &:focus
      color: $c-surfie-green
      background-color: darken($c-white, 5%)
      box-shadow: 0 0 0 0.2rem rgba($c-alto, .5)
    &:active
      background-color: darken($c-white, 8%)
    &.button--disabled
      background-color: transparent
      border-color: $c-silver-chalice
      color: $c-silver-chalice
      box-shadow: none
      svg
        fill: $c-silver-chalice
  &--bg-transparent
    color: $c-tundora
    background-color: transparent
    &:hover
      color: $c-surfie-green
      background-color: transparent
    &:focus
      color: $c-tundora
      background-color: transparent
      box-shadow: 0 0 0 0.2rem rgba($c-surfie-green, .5)
    &:active
      background-color: transparent
  &--bg-alabaster
    color: $c-surfie-green
    background-color: $c-alabaster
    &:hover
      background-color: darken($c-alabaster, 8%)
    &:focus
      color: $c-surfie-green
      background-color: darken($c-alabaster, 8%)
      box-shadow: 0 0 0 0.2rem rgba($c-alabaster, .5)
    &:active
      background-color: darken($c-alabaster, 10%)
  // Sizes
  @each $size in ['20', '30', '40', '50', '60']
    &--size-#{$size}
      width: #{$size}px
      height: #{$size}px
      padding: 0
  // State
  &--disabled
    pointer-events: none
    user-select: none
  // Elements
  &__prepend,
  &__append
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: 1
  &__prepend
    left: 30px
    +media-max($bp-md)
    left: 15px
  &__append
    right: 30px
    +media-max($bp-md)
    right: 15px
  &__icon
    &:first-child
      margin-right: 10px
    &:last-child
      margin-left: 10px
