.catalog
  &__header
    display: flex
    align-items: center
    +media-max($bp-xl)
      overflow-x: auto
  &__left
    padding-right: 5px
  &__right
    padding-left: 5px
    &--ml-auto
      margin-left: auto
  &__tabs
    display: flex
  &__tab
    height: 50px
    display: flex
    align-items: center
    justify-content: center
    padding: 0 30px
    background-color: $c-alabaster
    border-radius: $r-type-1 $r-type-1 0 0
    user-select: none
    cursor: pointer
    &.is-active
      background-color: $c-white
      .catalog__tab-title
        font-weight: 700
        color: $c-surfie-green
      .catalog__tab-unread
        background-color: $c-surfie-green
        color: $c-white
    &-title
      font-size: rem(14px)
      font-weight: 600
      line-height: 1
      color: $c-silver-chalice
      white-space: nowrap
    &-unread
      margin-left: 10px
      background-color: $c-white
      color: $c-silver-chalice
  &__box
    background-color: $c-white
    box-shadow: $s-type-1
    border-radius: 0 $r-type-1 $r-type-1 $r-type-1
    width: 100%
  &__filters
    padding: 40px 0
    border-bottom: 1px solid $c-silver-chalice
    display: none
    &-wrap
      +media-max($bp-xxl)
        padding: 0 30px
      +media-max($bp-sm)
        padding: 0 15px
  &__content
    padding: 40px 0 60px
    &-wrap
      +media-max($bp-xxl)
        padding: 0 30px
      +media-max($bp-sm)
        padding: 0 15px
    &-footer
      margin-top: 60px
      padding: 0 50px
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      &>*
        margin-top: 20px
        &:not(:last-child)
          margin-right: 20px
      +media-max($bp-xxl)
        padding: 0 30px
      +media-max($bp-sm)
        padding: 0 15px
  &__footer
    margin-top: 20px
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
