.document-list-item
  position: relative
  display: flex
  align-items: center
  background: $c-white
  border-radius: $r-type-3
  padding: 8px 20px
  &__progress
    position: absolute
    background-color: $c-tundora
    top: 50%
    left: calc( 50% - 40px )
    transform: translateY(-50%)
    max-width: 80px
    height: 12px
    border-radius: 50px
  &__icon
    margin-right: 15px
    +media-max($bp-sm)
      margin-right: 10px
  &__title
    font-size: rem(14px)
    font-weight: 400
    flex: 1
    line-height: 1.2
    color: $c-silver-chalice
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    margin-right: 10px
    +media-max($bp-sm)
  &__delete
    cursor: pointer
    transition: 0.2s
    padding: 5px
    &:hover
      transform: scale(1.2)
