.edit-avatar-tool
  text-align: center
  &__title
    margin-bottom: 30px
  &__image-box
    margin: 0 auto
    margin-bottom: 20px
    display: flex
    justify-content: center
    height: 340px
    width: 260px
    +media-max($bp-sm)
      width: 240px
  &__placeholder
    cursor: pointer
    display: none
    &-wrap
      display: flex
      margin: 0 auto
      margin-bottom: 20px
      align-items: center
      text-align: center
      width: 260px
      height: 340px
      justify-content: center
      padding: 15px
      border: 1px solid $c-alto
      +media-max($bp-sm)
        width: 240px
  &__change
    margin-bottom: 10px
  &__range
    margin-bottom: 20px
  &__buttons
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    &-left
      display: flex
      justify-self: flex-start
      margin-right: 10px
      +media-max($bp-sm)
        width: 100%
        margin-right: 0
        margin-bottom: 10px
