.editable-text
  display: inline-flex
  margin-left: -10px
  &__title
    font-size: rem(14px)
    line-height: 1
    font-weight: 600
    color: $c-mine-shaft
    transition: 0.2s
    display: inline-flex
    align-items: center
    max-width: 100%
    min-width: 50px
    border: 1px solid transparent
    border-right: 0
    border-radius: $r-type-1 0 0 $r-type-1
    padding: 3px 10px
    outline: 0px solid transparent
    transition: 0.2s
    &:hover
      border-color: $c-alto
      color: $c-alto
      ~ .editable-text__append
        border-color: $c-alto
        opacity: 1
    &:focus
      border-color: $c-surfie-green
      color: $c-mine-shaft
      ~ .editable-text__append
        border-color: $c-surfie-green
        opacity: 1
  &__append
    border-radius: 0 $r-type-1 $r-type-1 0
    display: flex
    align-items: center
    padding-right: 10px
    border: 1px solid transparent
    border-left: 0
    transition: 0.2s
    opacity: 0
    &-button
      display: none
      white-space: nowrap
