.form-box
  width: 100%
  max-width: 560px
  border: 1px solid $c-alto
  border-radius: $radius-primary
  background-color: $c-white
  padding: 40px 80px 60px
  +media-max($bp-md)
    padding: 40px 55px 60px
  +media-max($bp-sm)
    padding: 40px 15px 60px
  // Elements
  &__header
    text-align: center
    margin-bottom: 20px
  &__icon
    display: inline-block
    margin-bottom: 5px
  &__form
    margin-bottom: 25px
  &__divider
    margin-bottom: 25px
  &__buttons
    margin-bottom: 20px
  &__footer
    text-align: center
