.form-box
  width: 100%
  max-width: 790px
  border: 1px solid $c-alto
  border-radius: $radius-primary
  background-color: $c-white
  padding: 50px 135px 60px
  +media-max($bp-lg)
    padding: 50px 100px 60px
  +media-max($bp-md)
    padding: 50px 15px 60px
  // Elements
  &__header
    text-align: center
    margin-bottom: 20px
  &__icon
    display: inline-block
    margin-bottom: 10px
  &__form
    margin-bottom: 40px
  &__divider
    margin-bottom: 40px
  &__buttons
    margin-bottom: 20px
  &__footer
    text-align: center
