.header
  width: 100%
  background-color: $c-white
  box-shadow: $s-primary
  border-radius: 0 0 $r-secondary $r-secondary
  &__wrap
    display: flex
    width: 100%
    height: $header-height
    margin: 0 auto
    align-items: center
    justify-content: space-between
  &__left
    flex: 0.3
    display: flex
    +media-max($bp-xl)
      flex: 1
      margin-right: 20px
  &__logo
    display: flex
    align-items: center
    &-icon
      margin-right: 10px
      max-width: 50px
      +media-max($bp-sm)
        margin-right: 0
    &-title
      font-family: 'Gilroy', sans-serif
      font-size: rem(22px)
      font-weight: 500
      line-height: 1
      color: $c-mine-shaft
      +media-max($bp-sm)
        display: none
  &__right
    height: 100%
    flex: 1
    display: flex
    align-items: center
    justify-content: space-between
  &__navigation
    max-width: 90%
    margin-right: 10px
    +media-max($bp-xl)
      position: fixed
      padding: 80px 40px
      top: 0
      right: 0
      margin: 0
      width: 100%
      max-width: 50%
      min-width: 240px
      height: 100%
      overflow-y: auto
      background-color: $c-white
      transition: 0.3s
      transform: translateX(100%)
      z-index: 20
      &.is-active
        box-shadow: $s-secondary
        transform: translateX(0)
  &__dropdowns
    display: flex
    align-items: center
    margin-left: auto
    height: 100%
  &__dropdown
    height: 100%
    display: flex
    align-items: center
    &:not(:last-child)
      margin-right: 20px
      +media-max($bp-xxl)
        margin-right: 15px
      +media-max($bp-sm)
        margin-right: 10px
  &__burger
    display: none
    +media-max($bp-xl)
      z-index: 30
      display: block
      margin-left: 10px
