.inline-button
  font-size: rem(18px)
  line-height: 1
  font-weight: 600
  display: inline-flex
  align-items: center
  transition: 0.2s
  &:hover
    opacity: 0.8
  &--boston-blue,
  &--boston-blue:focus
    color: $c-boston-blue
  &__icon
    &:first-child
      margin-right: 5px
    &:last-child
      margin-left: 5px
