.inner-header
  width: 100%
  background-color: $c-white
  box-shadow: $s-type-1
  border-radius: 0 0 $r-type-3 $r-type-3
  &__wrap
    display: flex
    margin: 0 auto
    height: $header-height
    align-items: center
  &__logo
    margin-right: 20px
    max-width: 50px
