.input
  width: 100%
  display: block
  padding: 13px 15px 13px
  font-size: rem(16px)
  line-height: 1
  font-weight: 400
  border-radius: $radius-primary
  background-color: $c-white
  border: 1px solid $c-alto
  color: $c-tundora
  font-size: 16px
  line-height: 1
  &::placeholder
    color: $c-silver-chalice
  // Elements
