.input
  width: 100%
  display: block
  padding: 9px 15px
  font-size: rem(15px)
  line-height: 1
  font-weight: 400
  border-radius: $r-primary
  color: $c-tundora
  background-color: $c-alabaster
  border: 1px solid transparent
  transition: 0.2s
  &:focus
    border-color: $c-surfie-green
  &::placeholder
    color: $c-silver-chalice
    font-size: rem(14px)
  // Modifiers
  &--bordered
    background-color: $c-white
    border-color: $c-alto
  &--sm
    padding: 6px 10px 7px
    font-size: rem(13px)
    &::placeholder
      font-size: rem(12px)
  &--hidden
    display: none
  // Background
  &--bg-white
    background-color: $c-white
    &:focus
      border-color: $c-white
