.input-group
  position: relative
  display: flex
  width: 100%
  max-width: 100%
  // Elements
  &__prepend,
  &__append
    position: absolute
    top: 0
    height: 100%
    display: flex
    align-items: center
  &__prepend
    left: 0
    padding-left: 15px
  &__append
    right: 0
    padding-right: 15px
  &__input
    flex: 1
    &:first-child
      padding-right: 35px
    &:last-child
      padding-left: 35px
