.link
  font-size: rem(16px)
  font-weight: 600
  line-height: 1.4
  transition: 0.2s
  &:hover
    opacity: 0.8
  // Modifiers
  &--underline
    text-decoration: underline
  &--surfie-green
    color: $c-surfie-green
