.notifications-dropdown
  display: flex
  align-items: center
  height: 100%
  &__toggle
    display: flex
    align-items: center
    &-icon
      margin-right: 10px
    &-title
      font-size: rem(14px)
      font-weight: 600
      line-height: 1
      color: $c-surfie-green
      user-select: none
      white-space: nowrap
  &__body
    min-width: 300px
    margin-top: 1px
  &__scroll
    max-height: 250px
    padding: 20px
