.settings-education
  padding: 60px 0
  +media-max($bp-xxl)
    padding: 60px 30px
  +media-max($bp-sm)
    padding: 60px 15px
  &__row
    +row()
  &__col
    margin-bottom: 40px
    &:nth-child(1)
      +col(4, 1)
      +media-max($bp-xxl)
        +col(4, 0)
      +media-max($bp-xl)
        +col(6)
      +media-max($bp-md)
        +col(12)
    &:nth-child(2)
      +col(2)
      +media-max($bp-xxl)
        +col(2)
      +media-max($bp-xl)
        +col(6)
      +media-max($bp-md)
        +col(12)
    &:nth-child(3)
      +col(2)
      +media-max($bp-xxl)
        +col(3)
      +media-max($bp-xl)
        +col(6)
      +media-max($bp-md)
        +col(12)
    &:nth-child(4)
      +col(2)
      +media-max($bp-xxl)
        +col(3)
      +media-max($bp-xl)
        +col(6)
      +media-max($bp-md)
        +col(12)
  &__line
    &:not(:last-child)
      margin-bottom: 20px
  &__heading
    padding-bottom: 20px
    margin-bottom: 20px
    border-bottom: 1px solid $c-alto
    &--alt
      padding-bottom: 19px
  &__upload
    +col(6,1)
    +media-max($bp-xxl)
      +col(6, 0)
    +media-max($bp-lg)
      +col(12)
