.skills-dropdown
  display: flex
  align-items: center
  height: 100%
  // Elements
  &__box
    min-width: 420px
    padding: 20px
    margin-top: 10px
  &__header
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 20px
  &__search
    margin-bottom: 20px
  &__title
    margin-bottom: 10px
  &__wrap
    margin-bottom: 15px
    max-height: 240px
