.tooltip
  position: relative
  overflow: hidden
  display: inline-flex
  &:hover
    overflow: unset
    .tooltip__text
      visibility: visible
      opacity: 1
  &__text
    position: absolute
    top: 100%
    right: 2px
    background-color: $c-white
    padding: 10px 25px
    border-radius: $r-type-1
    z-index: 1
    box-shadow: $s-type-3
    visibility: hidden
    opacity: 0
    transition: 0.2s
