.user-dropdown
  height: 100%
  // Elements
  &__toggle
    display: flex
    align-items: center
    padding: 12px
    border-radius: $r-secondary
    background-color: $c-alabaster
    // State
    &.is-active
      .user-dropdown__toggle-chevron
        transform: rotate(180deg)
    &-avatar
      width: 60px
      height: 60px
      overflow: hidden
      background-color: $c-alto
      border-radius: 50%
      margin-right: 10px
    &-name
      font-size: rem(16px)
      font-weight: 600
      line-height: 1
      color: $c-surfie-green
      margin-right: 20px
      max-width: 100px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      user-select: none
    &-chevron
      transition: 0.2s
  &__body
    min-width: 210px
    padding: 30px
    margin-top: 6px
