.application-form__card
  .application-form__card-line
    .form-group
      .form-group__header
        h5 Interpreting?
      .row-group
        .row-group__item
          +radio({label:'Yes', name:'interpreting', value:'yes'})(data-radio-toggle)
        .row-group__item
          +radio({label:'No', name:'interpreting', value:'no'})

  div(data-radio-toggle-content="interpreting")
    +times(2)
      .application-form__card-line
        .row
          div(class="col-12 col-md-6 col-lg-7 mb-25 mb-md-0")
            .form-group
              .form-group__header
                +checkbox({ label:'Simultaneous Interpretig?', checked:true })
              .row
                div(class="col-12 col-lg-6 mb-15 mb-lg-0")
                  .row-group.row-group--align-center.row-group--sm
                    .row-group__item
                      p From
                    .row-group__item.row-group__item--flex-1
                      +translation-select()
                .col-12.col-lg-6
                  .row-group.row-group--align-center.row-group--sm
                    .row-group__item
                      p To
                    .row-group__item.row-group__item--flex-1
                      +translation-select()
          div(class="col-12 col-md-6 col-lg-5")
            .form-group
              .form-group__header
                p Your prefered price per <span class="font-bold">1 hr</span>
              .row-group.row-group--align-center.row-group--0
                .row-group__item
                  +input({bg:'alabaster'})(type="number" placeholder="0.00" style="min-width:70px")
                .row-group__item
                  +currency-select()

      .application-form__card-line
        +button({border:'surfie-green'})(type="button")
          span Add combination
          +icon({name:'plus', fill:'surfie-green', width:'10', height:'10', classes:'button__icon'})
