.application-form__card
  .application-form__card-line
    .form-group
      .form-group__header
        h4 Transcribing?
      .row-group
        .row-group__item
          +radio({label:'Yes', name:'transcribing', value:'yes', checked:true})
        .row-group__item
          +radio({label:'No', name:'transcribing', value:'no'})

  .application-form__card-line
    .row
      .col-md-7
        .form-group
          .form-group__header
            p What languages do you write?
          .row
            .col-6
              +select({
                label:{name:'Lithianian', selected:true},
                options:[
                  {name:'Lithianian'},
                  {name:'English'},
                  {name:'German'},
                ]
              })
      .col-md-5
        .form-group
          .form-group__header
            p Your prefered price per <span class="font-bold">1 word</span>
          .row
            .col-12.col-md-8
              .input-group
                .input-group__input
                  +input({})(type="number" placeholder="0.00")
                .input-group__append.input-group__append--p-0
                  +select({
                    transparent:true,
                    label:{name:'EUR', selected:true},
                    options:[
                      {name:'EUR'},
                      {name:'GBP'},
                      {name:'LVL'},
                      {name:'LTL'},
                    ]
                 })

  .application-form__card-line
    +button({type:'bordered'})(type="button")
      span Add combination
      span.button__icon
        +icon({name:'plus', fill:'surfie-green', width:'14', height:'14'})

  .application-form__card-line
    .form-group
      .form-group__header
        +checkbox({ label:'Additional (custom) services:', checked:true })
      .row
        .col-5
          .input-group
            .input-group__prepend
              p Your price per <span class="font-bold">1 hr</span>
            .input-group__input
              +input({})(type="number" placeholder="0.00")
            .input-group__append.input-group__append--p-0
              +select({
                transparent:true,
                label:{name:'EUR', selected:true},
                options:[
                  {name:'EUR'},
                  {name:'GBP'},
                  {name:'LVL'},
                  {name:'LTL'},
                ]
              })
