.application-form__card
  .application-form__card-line
    .form-group
      .form-group__header
        h5 Writing
      .row-group
        .row-group__item
          +radio({label:'Yes', name:'writing', value:'yes'})(data-radio-toggle)
        .row-group__item
          +radio({label:'No', name:'writing', value:'no'})

  div(data-radio-toggle-content="writing")
    .application-form__card-line
      .row
        .col-12.col-md-6.mb-25.mb-md-0
          .form-group
            .form-group__header
              p What combinations do you translate?
            .row
              .col-12.col-lg-6
                +translation-select()
        .col-12.col-md-6
          .form-group
            .form-group__header
              p Your prefered price per <span class="font-bold">1 word</span>
            .row
              .col-12.col-lg-8
                .input-group
                  .input-group__input
                    +input({bg:'alabaster'})(type="number" placeholder="0.00")
                  .input-group__append.input-group__append--p-0
                    +currency-select()

    .application-form__card-line
      +button({border:'surfie-green'})(type="button")
        span Add language
        +icon({name:'plus', fill:'surfie-green', width:'14', height:'14', classes:'button__icon'})
