// Default display styles
.d-none
  display: none
.d-block
  display: block
.d-flex
  display: flex
.d-inline-flex
  display: inline-flex

// Responsive display styles
@each $bp, $name in $breakpoints
  +media-min($bp)
    .d-#{$name}-none
      display: none
    .d-#{$name}-block
      display: block
    .d-#{$name}-inline-flex
      display: inline-flex
