*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #EBEBEF;
  overflow-x: hidden;
}

a,
a:focus {
  outline: none;
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

input,
textarea {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

img {
  max-width: 100%;
  border-style: none;
  display: block;
}

svg {
  display: block;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  max-width: 1720px;
}

.container-fluid {
  width: 100%;
  padding: 0 15px;
  max-width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.row > * {
  padding: 0 15px;
}

.col {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
}

/* Animations */

.animated {
  opacity: 0;
}

.fadeIn {
  -webkit-animation: fadeIn 1s ease-in-out forwards;
  animation: fadeIn 1s ease-in-out forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeInUp {
  -webkit-animation: fadeInUp 1s ease-in-out forwards;
  animation: fadeInUp 1s ease-in-out forwards;
}

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeInDown {
  -webkit-animation: fadeInDown 1s ease-in-out forwards;
  animation: fadeInDown 1s ease-in-out forwards;
}

@-webkit-keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeInLeft {
  -webkit-animation: fadeInLeft 1s ease-in-out forwards;
  animation: fadeInLeft 1s ease-in-out forwards;
}

@-webkit-keyframes fadeInLeft {
  from {
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeInRight {
  -webkit-animation: fadeInRight 1s ease-in-out forwards;
  animation: fadeInRight 1s ease-in-out forwards;
}

@-webkit-keyframes fadeInRight {
  from {
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation: zoomIn 1s ease-in-out forwards;
  animation: zoomIn 1s ease-in-out forwards;
}

@-webkit-keyframes zoomIn {
  from {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* Typography styles */

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  color: #3D3D3D;
}

h1,
.h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 2.1875rem;
  line-height: 1.2;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 1.375rem;
  line-height: 1.2;
  font-weight: 700;
}

h4,
.h4 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 600;
}

p,
.p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
}

.text-white {
  color: #FFFFFF;
}

.text-mine-shaft {
  color: #3D3D3D;
}

.text-surfie-green {
  color: #0E7D7D;
}

.text-brick-red {
  color: #CC2936;
}

.text-boston-blue {
  color: #3F88C5;
}

.font-regular {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-scroll {
  height: 100%;
}

.custom-scroll .simplebar-scrollbar:before {
  border-radius: 3px;
  background: #9D9D9D;
  right: 0;
  left: auto;
  width: 5px;
}

.login-page {
  position: relative;
  padding: 80px 0;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #FFFFFF;
  z-index: 1;
}

.login-page:after,
.login-page:before {
  position: fixed;
  content: '';
  left: 0;
  z-index: -1;
}

.login-page:before {
  bottom: 0;
  background-image: url("../images/login-page/login-page-image.png");
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
  width: 49%;
  height: 49%;
}

.login-page:after {
  top: 0;
  height: 100%;
  width: 100%;
  background: #FFFFFF;
  opacity: 0.5;
}

.login-page__lang {
  position: absolute;
  top: 40px;
  right: 40px;
}

.login-page__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.application-page {
  padding-bottom: 60px;
}

.application-page__form {
  margin: 0 auto;
  margin-top: 35px;
  max-width: 1000px;
}

.column-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.column-group--align-center {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-group--justify-items-center > .column-group__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column-group--md > .column-group__item:not(:last-child) {
  margin-bottom: 15px;
}

.column-group--sm > .column-group__item:not(:last-child) {
  margin-bottom: 10px;
}

.column-group--xs > .column-group__item:not(:last-child) {
  margin-bottom: 5px;
}

.column-group__item:not(:last-child) {
  margin-bottom: 20px;
}

.row-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-group--align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.row-group--justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row-group--flex-1 .row-group__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.row-group--md > .row-group__item:not(:last-child) {
  margin-right: 15px;
}

.row-group--sm > .row-group__item:not(:last-child) {
  margin-right: 10px;
}

.row-group--xs > .row-group__item:not(:last-child) {
  margin-right: 5px;
}

.row-group__item:not(:last-child) {
  margin-right: 20px;
}

.svg-icon--white {
  fill: #FFFFFF;
}

.svg-icon--brick-red {
  fill: #CC2936;
}

.svg-icon--surfie-green {
  fill: #0E7D7D;
}

.link {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #0E7D7D;
}

.link:hover,
.link:focus {
  opacity: 0.8;
  color: #0E7D7D;
}

.link--underline {
  text-decoration: underline;
}

.link--underline:focus {
  text-decoration: underline;
}

.form__line:not(:last-child) {
  margin-bottom: 15px;
}

.form-box {
  width: 100%;
  max-width: 560px;
  border: 1px solid #DADADA;
  border-radius: 3px;
  background-color: #FFFFFF;
  padding: 40px 80px 60px;
}

.form-box__header {
  text-align: center;
  margin-bottom: 20px;
}

.form-box__icon {
  display: inline-block;
  margin-bottom: 5px;
}

.form-box__form {
  margin-bottom: 25px;
}

.form-box__divider {
  margin-bottom: 25px;
}

.form-box__buttons {
  margin-bottom: 20px;
}

.form-box__footer {
  text-align: center;
}

.form-group__header {
  margin-bottom: 10px;
}

.form-divider {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
}

.form-divider:before {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #3D3D3D;
  display: block;
  z-index: -1;
}

.form-divider__text {
  background-color: #FFFFFF;
  padding: 0 10px;
  font-size: 0.875rem;
  line-height: 1;
}

.input {
  width: 100%;
  display: block;
  padding: 12px 15px 12px;
  font-size: 0.9375rem;
  line-height: 1;
  font-weight: 400;
  border-radius: 3px;
  color: #444444;
  background-color: #F7F7F7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.input:placeholder {
  color: #9D9D9D;
}

.input--bordered {
  background-color: #FFFFFF;
  border: 1px solid #DADADA;
  padding: 11px 15px 12px;
}

.input--bordered:focus {
  border-color: #0E7D7D;
}

.input-animation {
  position: relative;
}

.input-animation.is-active .input-animation__label {
  top: 0;
  font-weight: 600;
  background-color: #FFFFFF;
  color: #444444;
}

.input-animation__label {
  position: absolute;
  padding: 0 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1;
  color: #9D9D9D;
  cursor: text;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-group__prepend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 10px;
}

.input-group__append {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
}

.input-group__append--p-0 {
  padding-left: 0;
}

.input-group__input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.radio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.radio__name {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio__name:first-child {
  margin-right: 10px;
}

.radio__name:last-child {
  margin-left: 10px;
}

.radio__box {
  position: relative;
  width: 20px;
  height: 20px;
}

.radio__input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}

.radio__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #0E7D7D;
  overflow: hidden;
}

.radio__checkmark:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #0E7D7D;
  border-radius: 50%;
}

.radio .radio__input:checked ~ .radio__checkmark:before {
  opacity: 1;
}

.checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.checkbox__name {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox__name:first-child {
  margin-right: 10px;
}

.checkbox__name:last-child {
  margin-left: 10px;
}

.checkbox__box {
  position: relative;
  width: 20px;
  height: 20px;
}

.checkbox__input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}

.checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: 2px solid #0E7D7D;
  overflow: hidden;
}

.checkbox__checkmark:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-image: url("../images/icons/check.svg");
  background-color: #0E7D7D;
  background-size: 10px 8px;
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox .checkbox__input:checked ~ .checkbox__checkmark:before {
  opacity: 1;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -10px;
}

.button-group--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.button-group--column .button-group__button:not(:last-child) {
  margin-right: 0;
}

.button-group__button {
  margin-bottom: 10px;
}

.button-group__button:not(:last-child) {
  margin-right: 20px;
}

.button {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 14px 30px 15px;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
  z-index: 1;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 3px;
  background-color: #0E7D7D;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: -1;
}

.button:hover:after {
  opacity: 0.8;
}

.button:focus:after {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(14, 125, 125, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(14, 125, 125, 0.5);
}

.button--fluid {
  width: 100%;
}

.button--bg-cornflower-blue:after {
  background-color: #518EF8;
}

.button--bg-cornflower-blue:focus:after {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(81, 142, 248, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(81, 142, 248, 0.5);
}

.button--bordered {
  color: #0E7D7D;
}

.button--bordered:after {
  background-color: transparent;
  border: 2px solid #0E7D7D;
}

.button--bordered:hover {
  color: #FFFFFF;
}

.button--bordered:hover svg {
  fill: #FFFFFF;
}

.button--bordered:hover:after {
  opacity: 1;
  background-color: #0E7D7D;
}

.button--white {
  color: #0E7D7D;
}

.button--white:after {
  background-color: #FFFFFF;
}

.button--white:hover:after {
  opacity: 0.6;
}

.button--white:focus:after {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.button--transparent {
  color: #444444;
}

.button--transparent:after {
  background-color: transparent;
}

.button--transparent:hover {
  color: #0E7D7D;
}

.button__prepend,
.button__append {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.button__prepend {
  left: 30px;
}

.button__append {
  right: 30px;
}

.button__icon:first-child {
  margin-right: 10px;
}

.button__icon:last-child {
  margin-left: 10px;
}

.select {
  position: relative;
  width: 100%;
  display: block;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #F7F7F7;
  cursor: pointer;
}

.select.is-expanded {
  border-radius: 3px 3px 0 0;
}

.select.is-expanded .select__label:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.select--bordered {
  border: 1px solid #DADADA;
  background-color: transparent;
}

.select--bordered .select__label:before {
  background-color: transparent;
}

.select--bordered .select__label:after {
  background-image: url("../images/icons/triangle-down.svg");
}

.select--auto {
  width: auto;
  display: inline-block;
}

.select--transparent {
  background-color: transparent;
}

.select--transparent .select__label:before {
  background-color: transparent;
}

.select__label {
  position: relative;
  padding: 0 40px 0 20px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1;
  color: #9D9D9D;
  white-space: nowrap;
}

.select__label[data-selected] {
  color: #444444;
}

.select__label:before,
.select__label:after {
  position: absolute;
  content: '';
}

.select__label:before {
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  background-color: #F7F7F7;
  border-radius: 0 3px 3px 0;
}

.select__label:after {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  right: 17px;
  width: 11px;
  height: 6px;
  -webkit-transform-origin: center;
  transform-origin: center;
  background-image: url("../images/icons/triangle-down-blue.svg");
  background-size: 11px 6px;
  background-position: center;
  background-repeat: no-repeat;
}

.select__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.select__thumbnail {
  max-width: 18px;
  margin-right: 10px;
}

.select__options {
  position: absolute;
  display: none;
  right: -1px;
  min-width: 100%;
  top: calc(100% + 1px);
  background-color: #FFFFFF;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 200;
}

.select__options-scroll {
  max-height: 168px;
}

.select__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 15px;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 400;
  color: #9D9D9D;
}

.select__option:hover {
  background-color: #0E7D7D;
  color: #FFFFFF;
}

.status-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.status-message__icon {
  margin-right: 9px;
  margin-top: 1;
}

.status-message__title {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  color: #CC2936;
}

.status-message__link {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2;
  color: #3F88C5;
  text-decoration: underline;
}

.inner-header {
  width: 100%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 20px 0;
}

.inner-header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.inner-header__logo {
  margin-right: 20px;
}

.application-form {
  width: 100%;
}

.application-form__title {
  margin-bottom: 20px;
}

.application-form__item:not(:last-child) {
  margin-bottom: 20px;
}

.application-form__heading {
  background-color: #FFFFFF;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  padding: 18px 60px;
}

.application-form__card {
  background-color: #FFFFFF;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  padding: 30px 60px;
}

.application-form__card-line:not(:last-child) {
  margin-bottom: 25px;
}

.form-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-steps__step {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 14px 20px;
  text-align: center;
  border-bottom: 3px solid transparent;
  background-color: #FFFFFF;
  background-color: white;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 600;
  color: #9b9b9b;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-steps__step:focus {
  color: #9b9b9b;
}

.form-steps__step:after {
  position: absolute;
  content: '';
  top: 0;
  right: -10px;
  width: 0;
  height: 0;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 10px solid #FFFFFF;
  z-index: 1;
}

.form-steps__step:nth-child(1) {
  border-radius: 3px 0 0 3px;
  background-color: #f0f0f1;
  z-index: 3;
}

.form-steps__step:nth-child(1):after {
  border-left-color: #f0f0f1;
}

.form-steps__step:nth-child(2) {
  left: -10px;
  background-color: #f4f4f6;
  z-index: 2;
}

.form-steps__step:nth-child(2):after {
  border-left-color: #f4f4f6;
}

.form-steps__step:nth-child(3) {
  left: -10px;
  background-color: #f0f0f1;
  z-index: 1;
}

.form-steps__step:nth-child(3):after {
  border-left-color: #f0f0f1;
}

.form-steps__step.is-active {
  border-color: #0E7D7D;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  line-height: 1;
  font-weight: 700;
  color: #3D3D3D;
}

.form-steps__step.is-active:after {
  border-left-color: #FFFFFF;
}

@media (min-width: 361px) {
  .col-xs-1 {
    width: 8.33333%;
  }

  .col-xs-2 {
    width: 16.66667%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-4 {
    width: 33.33333%;
  }

  .col-xs-5 {
    width: 41.66667%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-7 {
    width: 58.33333%;
  }

  .col-xs-8 {
    width: 66.66667%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-10 {
    width: 83.33333%;
  }

  .col-xs-11 {
    width: 91.66667%;
  }

  .col-xs-12 {
    width: 100%;
  }

  .d-xs-none {
    display: none;
  }

  .d-xs-block {
    display: block;
  }

  .d-xs-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 577px) {
  .col-sm-1 {
    width: 8.33333%;
  }

  .col-sm-2 {
    width: 16.66667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-5 {
    width: 41.66667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333%;
  }

  .col-sm-8 {
    width: 66.66667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333%;
  }

  .col-sm-11 {
    width: 91.66667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-5 {
    width: 41.66667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333%;
  }

  .col-md-11 {
    width: 91.66667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.33333%;
  }

  .col-lg-2 {
    width: 16.66667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33333%;
  }

  .col-lg-5 {
    width: 41.66667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333%;
  }

  .col-lg-8 {
    width: 66.66667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33333%;
  }

  .col-lg-11 {
    width: 91.66667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33333%;
  }

  .col-xl-2 {
    width: 16.66667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.33333%;
  }

  .col-xl-5 {
    width: 41.66667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.33333%;
  }

  .col-xl-8 {
    width: 66.66667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.33333%;
  }

  .col-xl-11 {
    width: 91.66667%;
  }

  .col-xl-12 {
    width: 100%;
  }

  .d-xl-none {
    display: none;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1361px) {
  .col-xxl-1 {
    width: 8.33333%;
  }

  .col-xxl-2 {
    width: 16.66667%;
  }

  .col-xxl-3 {
    width: 25%;
  }

  .col-xxl-4 {
    width: 33.33333%;
  }

  .col-xxl-5 {
    width: 41.66667%;
  }

  .col-xxl-6 {
    width: 50%;
  }

  .col-xxl-7 {
    width: 58.33333%;
  }

  .col-xxl-8 {
    width: 66.66667%;
  }

  .col-xxl-9 {
    width: 75%;
  }

  .col-xxl-10 {
    width: 83.33333%;
  }

  .col-xxl-11 {
    width: 91.66667%;
  }

  .col-xxl-12 {
    width: 100%;
  }

  .d-xxl-none {
    display: none;
  }

  .d-xxl-block {
    display: block;
  }

  .d-xxl-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1360px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }

  .login-page {
    padding: 40px 0 60px;
  }

  .login-page__lang {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .login-page__lang {
    padding-right: 65px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }

  .login-page__lang {
    padding-right: 0;
  }

  .form-box {
    padding: 40px 55px 60px;
  }

  .button__prepend {
    left: 15px;
  }

  .button__append {
    right: 15px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }

  html,
  body {
    font-size: 15px;
  }

  .form-box {
    padding: 40px 15px 60px;
  }
}