include /partials/actions

mixin choose-actions-dropdown(props = {})

  .dropdown.choose-actions-dropdown.js-dropdown(data-dropdown="notifications")
    .dropdown__toggle.choose-actions-dropdown__toggle(data-dropdown-toggle="notifications")
      .choose-actions-dropdown__toggle-title
        p.text-boston-blue Choose
      .choose-actions-dropdown__toggle-icon
        +icon({name:'chevron-down', fill:'boston-blue', width:'8', height:'6'})
    .dropdown__body.choose-actions-dropdown__body
      +actions()
