mixin close(props = {})
  -const { classes, color, size } = props
  -
    const classnames = classNames({
      'close' : true,
      [classes]: classes,
    })

  div(class=classnames)&attributes(attributes)
    +icon({name:'close', fill:color, width:size, height:size})
