include /partials/input-range

mixin edit-avatar-tool(props = {})

  .edit-avatar-tool.js-edit-avatar-tool
    .edit-avatar-tool__image-box
      img(src="images/user/avatar.jpg", class="edit-avatar-tool__image" alt="avatar")
    .edit-avatar-tool__tip
      p.p-sm.font-style-italic *will change up to x3 as on linkedin
    .edit-avatar-tool__title
      h5 Change size <span class="text-surfie-green edit-avatar-tool__number">1</span>
    .edit-avatar-tool__range
      +input-range({classes:'edit-avatar-tool__range-input'})(value="0")
