include /partials/edit-avatar-tool

mixin edit-avatar-modal(props = {})

  .modal.edit-avatar-modal.js-edit-avatar-modal(data-modal="edit-avatar-modal" data-modal-auto)
    .modal__close(data-modal-close="edit-avatar-modal")
      +close({color:'alto', size:'20'})
    .edit-avatar-modal__body
      +edit-avatar-tool()
