mixin form-steps(steps = [])

  .form-steps
    each step, i in steps
      -
        const classnames = classNames({
          'form-steps__step': true,
          'is-active': step.active,
          'is-done': step.done,
        })
      div(class=classnames)
        .form-steps__title
          <span class="form-steps__title-number">#{i+1}.&nbsp;</span>
          <span class="form-steps__title-text">#{step.title}</span>
