mixin form-steps(steps = [])

  .form-steps
    each step in steps
      -
        const classnames = classNames({
          'form-steps__step': true,
          'is-active': step.active,
          'is-done': step.done,
        })
      div(class=classnames)
        span.form-steps__title #{step.title}
