mixin inline-button(props = {})
  -const { title, classes, icon, link, color } = props
  -
    const classnames = classNames({
      'inline-button': true,
      [`inline-button--${color}`]: color,
      [classes]: classes
    })

  a(href=link class=classnames)
    span.inline-button__icon
      +icon({name:icon.name, fill:icon.fill, width:icon.width, height:icon.height})
    span #{title}
