include /partials/lang-select-alt

mixin inner-header(props = {})

  header.inner-header
    .container
      .inner-header__wrap
        .inner-header__logo
          img(src="images/logo.svg", alt="logo")
        .inner-header__lang
          +lang-select-alt()
