mixin input(props = {})
  -const { classes, bordered, id } = props
  -
    const classnames = classNames({
      'input': true,
      'input--bordered': bordered,
      [classes]: classes,
    })

  input(class=classnames id=id)&attributes(attributes)
