mixin input(props = {})
  -const { classes, bordered, bg, size, standard, hidden } = props
  -
    const classnames = classNames({
      'input': standard !== false,
      'input--bordered': bordered,
      'input--hidden': hidden,
      [`input--${size}`]: size,
      [`input--bg-${bg}`]: bg,
      [classes]: classes,
    })

  input(class=classnames)&attributes(attributes)
