mixin input(props = {})
  -const { classes, bordered, size } = props
  -
    const classnames = classNames({
      'input': true,
      'input--bordered': bordered,
      [`input--${size}`]: size,
      [classes]: classes,
    })

  input(class=classnames)&attributes(attributes)
