mixin input(props = {})
  -const { classes, label, animated } = props
  -
    const classnames = classNames({
      'input__field': true,
      [classes]: classes,
    })

  if(animated)
    .input.js-input-animation
      label.input__label.js-input-animation-label #{label}
      input(class=`${classnames} js-input-animation-field`)&attributes(attributes)
  else
    .input
      input(class=classnames)&attributes(attributes)
