mixin input(props = {})
  -const { classes, border, bg, size, standard, hidden } = props
  -
    const classnames = classNames({
      'input': standard !== false,
      [`input--${bg}`]: bg,
      [`input--border-${border}`]: border,
      [`input--${size}`]: size,
      'input--hidden': hidden,
      [classes]: classes,
    })

  input(class=classnames)&attributes(attributes)
