mixin input(props = {})
  -const { classes, bordered } = props
  -
    const classnames = classNames({
      'input': true,
      'input--bordered': bordered,
      [classes]: classes,
    })

  input(class=classnames)&attributes(attributes)
