include /partials/select

mixin lang-select(props = {})

  +select({
    bordered:true, selected:true, auto:true,
    label:{name:'eng', content:`<img src="images/flags/gb.svg"/><span>English</span>`},
    options:[
      {name:'eng', content:`<img src="images/flags/gb.svg"/><span>English</span>`},
      {name:'lt', content:`<img src="images/flags/lt.svg"/><span>Lithuanian</span>`},
      {name:'ge', content:`<img src="images/flags/fr.svg"/><span>French</span>`},
    ]
  })
