include /partials/select

mixin lang-select(props = {})
  -const { classes } = props

  +select({
    transparent:true, classes:classes,
    label:{name:'lt', content:`<img src="images/icons/planet.svg"/><span>LT</span>`},
    options:[
      {name:'en', content:`<img src="images/icons/planet.svg"/><span>EN</span>`},
      {name:'lt', content:`<img src="images/icons/planet.svg"/><span>LT</span>`},
    ]
  })
