mixin link(props = {})
  -const { color, underline, link } = props
  -const tag = link ? 'a' : 'div'
  -
    const classnames = classNames({
      'link': true,
      [`link--${color}`]: color,
      'link--underline': underline,
      [classes]: classes,
    })

  #{tag}(href=link class=classnames)&attributes(attributes)
    block
