include /partials/manage-skills
include /partials/button

mixin manage-skills-dropdown(props = {})

  .dropdown.js-dropdown.manage-skills-dropdown(data-dropdown="manage-skills-dropdown")
    .dropdown__toggle.manage-skills-dropdown__toggle(data-dropdown-toggle="manage-skills-dropdown")
      +button({border:'surfie-green', size:'20'})(type="button")
        +icon({name:'plus', fill:'surfie-green', width:'10', height:'10'})
    .dropdown__box.manage-skills-dropdown__box
      +manage-skills()
