include /partials/button
include /partials/input-animation
include /partials/link
include /partials/close
include /partials/palette

mixin password-change-success-modal(props = {})
  -const { title } = props

  .modal.password-change-success-modal(data-modal="password-change-success-modal")
    .modal__close(data-modal-close="password-change-success-modal")
      +close({color:'alto', size:'20'})
    .password-change-success-modal__wrap
      .password-change-success-modal__icon
        img(src="images/icons/check-circle.svg", alt="check")
      .password-change-success-modal__title
        h3.text-surfie-green #{title}
      .password-change-success-modal__text
        p Your new password is:
      .password-change-success-modal__password
        +palette()
          p.font-bold 6151651656156116
      .password-change-success-modal__button
        +button({border:'surfie-green'})(type="button" data-modal-close="password-change-success-modal")| OK !
