include /partials/button
include /partials/input-animation
include /partials/link

mixin password-change-modal(props = {})
  -const { type, title, text } = props

  .modal.password-change-modal(data-modal="password-change-modal")
    .password-change-modal__wrap
      .password-change-modal__title
        h3 #{title}
      .password-change-modal__text
        p #{text}
      .password-change-modal__form
        if(type==='change')
          form.form
            .form__line
              +input-animation({label:'Old password ', required:true})(type="password" id="oldPassword")
            .form__line
              +input-animation({label:'Email', required:true})(type="password" id="newPassword")
            .form__line
              +link({link:'#'})| Forgot password?
            .form__line
              .password-change-modal__buttons
                .button-group.button-group--column
                  +button({classes:'button-group__button', bg:'surfie-green'})(type="button" data-modal-open="password-change-success-modal")| Confirm new password
                  +button({bg:'transparent', classes:'button-group__button'})(type="button" data-modal-close="password-change-modal")| Cancel
        if(type==='recover')
          form.form
            .form__line
              +input-animation({label:'Your email', required:true})(type="email" id="email")
            .form__line
              .password-change-modal__buttons
                .button-group.button-group--column
                  +button({classes:'button-group__button', bg:'surfie-green'})(type="button" data-modal-open="password-change-success-modal")| Send me rocovery link
                  +button({bg:'transparent', classes:'button-group__button'})(type="button" data-modal-close="password-change-modal")| Cancel
