include /partials/button
include /partials/burger

mixin permissions-control-dropdown(props = {})

  .dropdown.js-dropdown.permissions-control-dropdown(data-dropdown="permissions-control-dropdown")
    .dropdown__toggle.permissions-control-dropdown__toggle(data-dropdown-toggle="permissions-control-dropdown")
      +burger()
    .dropdown__body.permissions-control-dropdown__body
      .permissions-control-dropdown__button
        +button({border:'boston-blue', fluid:true})(type="button" data-dropdown-close="permissions-control-dropdown")
          span Edit
          +icon({name:'pencil', fill:'boston-blue', width:12, height:12, classes:'button__icon'})
      .permissions-control-dropdown__button
        +button({border:'brick-red', fluid:true})(type="button" data-dropdown-close="permissions-control-dropdown")| Delete
