mixin textarea(props = {})
  -const { classes, rows, standard } = props
  -const taRows = rows ? rows : '5'
  -
    const classnames = classNames({
      'textarea': standard !== false,
      [classes]: classes,
    })

  textarea(class=classnames rows=taRows)&attributes(attributes)
