mixin unread(props = {})
  -const { cnt, classes } = props
  -
    const classnames = classNames({
      'unread': standard !== false,
      [classes]: classes,
    })

  span(class=classnames) #{cnt}
