include /partials/button

mixin uploaded-documents(props = {})

  .uploaded-documents
    .uploaded-documents__header
      .uploaded-documents__header-title
        h4 Uploaded documents:
      .uploaded-documents__header-button
        +button({bg:'white', shadow:true})(type="button")
          span Download all
          span.button__icon
            +icon({name:'download', width:'21', height:'19'})
    .uploaded-documents__content
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione excepturi omnis eveniet ut. Voluptatem esse exercitationem enim? Enim, obcaecati eius? Doloribus consequatur, officia dolores blanditiis distinctio perspiciatis optio a quos?
