include /partials/button

mixin upload-documents-box(props = {})

  .upload-documents-box.js-upload-documents-box
    .upload-documents-box__label.dz-message
      span.upload-documents-box__label-title Drag and drop files
      +button({bg:'alabaster', size:'50', classes:'upload-documents-box__label-button'})(type="button")
        +icon({name:'plus', fill:'surfie-green', width:'14', height:'14'})
    //- tpl
    .upload-documents-box__tpl
      .document-list-item
        .document-list-item__progress(data-dz-uploadprogress)
        .document-list-item__icon
          img(src="images/icons/document-placeholder.svg", alt="placeholder")
        .document-list-item__title(data-dz-name)
        .document-list-item__delete
          +icon({name:'close', fill:'brick-red', width:'10', height:'10'})(data-dz-remove)
    //- Preview
    .upload-documents-box__preview
      div(data-simplebar class="custom-scroll custom-scroll--scroll-visible upload-documents-box__preview-scroll")
