extends /layouts/main
include /partials/inner-header

block variables
  - const title = 'Application page'

block content
  .application-page
    .application-page__header
      +inner-header()
    .container
      .application-page__row
        .application-page__form
          include /pages/application-page/step-2/_index
