extends /layouts/main
include /partials/header
include /partials/button
include /partials/unread
include /partials/input
include /partials/catalog-navigation

block variables
  - const title = 'Employers page'
  -
    const tabs = [
      {title:'Employees', unread:'356', name:'employees', isActive:true},
      {title:'Registrations', unread:'87', name:'registrations'},
      {title:'Archieved & Rejected', unread:'109',name:'archieved'},
    ]

block content
  .employers-page
    .employers-page__header
      +header({navActive:'employers'})
    .employers-page__wrap
      .container
        .employers-page__heading
          .employers-page__heading-title
            h2.text-surfie-green Employers
          .employers-page__heading-buttons
            .button-group
              +button({border:'surfie-green', classes:'button-group__button'})(href="#")| Permissions
              +button({bg:'surfie-green', classes:'button-group__button'})(type="button")
                span Invite employee
                +icon({name:'add-person', fill:'white', width:'20', height:'13', classes:'button__icon'})
        .employers-page__catalog
          .catalog
            .catalog__header
              .catalog__left
                .input-group.input-group--absolute
                  +input({bg:'white', classes:'input-group__input'})(type="text" placeholder="Search")
                  .input-group__append-absolute
                    +icon({name:'search', fill:'silver-chalice', width:'12', height:'12'})
              .catalog__tabs.tabs.js-tabs
                each tab in tabs
                  div(class=`catalog__tab js-tabs-tab ${tab.isActive ? 'is-active' : ''}` data-tab=tab.name)
                    .catalog__tab-title #{tab.title}
                      +unread({cnt:tab.unread, classes:'catalog__tab-unread'})
              .catalog__right.catalog__right--ml-auto
                +button({bg:'white'})(type="button")
                  span Filter
                  +icon({name:'filter', fill:'surfie-green', width:'14', height:'14', classes:'button__icon'})
            .catalog__content
              .catalog__content-item.tabs__content.js-tabs-content.is-active(data-content="employees")
                include /pages/employers-page/employees
              //- .catalog__content-item.tabs__content.js-tabs-content.is-active(data-content="registrations")
              //- .catalog__content-item.tabs__content.js-tabs-content.is-active(data-content="archieved")
                //- include /pages/employers-page/general
            .catalog__footer
              +catalog-navigation()
