extends /layouts/main
include /partials/header
include /partials/invite-employee-dropdown
include /partials/button
include /partials/unread
include /partials/input
include /partials/catalog-navigation

block variables
  - const title = 'Employers page'
  -
    const tabs = [
      {title:'Employees', unread:'356', name:'employees', isActive:true},
      {title:'Registrations', unread:'87', name:'registrations'},
      {title:'Archieved & Rejected', unread:'109',name:'archieved'},
    ]

block content
  .employers-page
    .employers-page__header
      +header({navActive:'employers'})
    .employers-page__wrap
      .container
        .employers-page__heading
          .employers-page__heading-title
            h2.text-surfie-green Employers
          .employers-page__heading-buttons
            .button-group
              +button({border:'surfie-green', classes:'button-group__button'})(href="permissions-page.html")| Permissions
              .button-group__button
                +invite-employee-dropdown()
        .employers-page__catalog
          .catalog
            .catalog__header
              .catalog__left
                .input-group
                  +input({bg:'white', classes:'input-group__input'})(type="text" placeholder="Search" style="min-width:180px;")
                  .input-group__append
                    +icon({name:'search', fill:'silver-chalice', width:'12', height:'12'})
              .catalog__tabs.tabs.js-tabs
                each tab in tabs
                  div(class=`catalog__tab js-tabs-tab ${tab.isActive ? 'is-active' : ''}` data-tab=tab.name)
                    .catalog__tab-title #{tab.title}
                      +unread({cnt:tab.unread, classes:'catalog__tab-unread'})
              .catalog__right.catalog__right--ml-auto
                +button({bg:'white'})(type="button" data-content-toggle-button="filters")
                  span Filter
                  +icon({name:'filter', fill:'surfie-green', width:'14', height:'14', classes:'button__icon'})
            .catalog__box
              div(class="catalog__filters js-catalog-filters" data-content-toggle-content="filters")
                .catalog__filters-wrap
                  include /pages/employers-page/filters
              .catalog__content
                .catalog__content-item.tabs__content.js-tabs-content.is-active(data-content="employees")
                  include /pages/employers-page/employees
                .catalog__content-item.tabs__content.js-tabs-content(data-content="registrations")
                  include /pages/employers-page/employees
                .catalog__content-item.tabs__content.js-tabs-content(data-content="archieved")
                  include /pages/employers-page/employees
            .catalog__footer
              +catalog-navigation()
