extends /layouts/main
include /partials/input
include /partials/button
include /partials/select
include /partials/form-divider
include /partials/status-message
include /partials/link

block variables
  - const title = 'Login page'

block content
  .login-page
    .container.login-page__container
      .login-page__lang
        +select({
          auto:true,
          label:{name:'English', selected:true, image:'images/flags/gb.svg'},
          options:[
            {name:'English', image:'images/flags/gb.svg'},
            {name:'Lithuanian', image:'images/flags/lt.svg'},
          ]
        })
      .login-page__box
        .form-box
          .form-box__header
            .form-box__icon
              img(src="images/login-page/login-page-icon.svg", alt="login-page-icon")
            .form-box__title
              h2.text-surfie-green Log in
          .form-box__form
            form.form
              .form__line
                .form-group
                  +input({label:'Email:', animated:true})(type="email")
              .form__line
                .form-group
                  +input({label:'Password:', animated:true})(type="password")
              .form__line
                .column-group.column-group--justify-items-center
                  .column-group__item
                    +button({fluid:true})(type="submit")| Sign in
                  .column-group__item
                    +status-message({title:'Oops... Incorrect Email or Password.', icon:{name:'warning', width:'24', height:'24'}, color:'brick-red'})
                  .column-group__item
                    +link({link:'#', color:'surfie-green'})| Forgot password?

          .form-box__divider
            +form-divider()

          .form-box__buttons
            .button-group.button-group--column
              +button({fluid:true, classes:'button-group__button', bg:'cornflower-blue'})(type="submit" placeholder="Password:")
                .button__prepend
                  +icon('google', 'svg-icon--white')(width="25" height="25")
                span Sign in with Google
              +button({fluid:true, classes:'button-group__button', bg:'azure-radiance'})(type="submit" placeholder="Password:")
                .button__prepend
                  +icon('facebook', 'svg-icon--white')(width="25" height="25")
                span Sign in with Facebook

          .form-box__footer
            +link({link:'#', color:'surfie-green', underline:true})| Create an account
