// Grid
$columns: 12
$gutter : 30px
// Fonts
$base-font-size  : 14px
$base-font-family: 'Open Sans', sans-serif
// Containers
$cnt-xxl: 1440px
$cnt-xl : 1200px
$cnt-lg : 960px
$cnt-md : 720px
$cnt-sm : 540px
$cnt-xs : 100%
// Breakpoints
$bp-xxl: 1460px
$bp-xl : 1199px
$bp-lg : 991px
$bp-md : 767px
$bp-sm : 576px
$bp-xs : 360px
// Maps
$containers : ( $bp-xxl: $cnt-xl, $bp-xl: $cnt-lg, $bp-lg: $cnt-md, $bp-md: $cnt-sm, $bp-sm: $cnt-xs )
$breakpoints: ( $bp-xxl: 'xxl', $bp-xl: 'xl', $bp-lg: 'lg', $bp-md: 'md', $bp-sm: 'sm', $bp-xs: 'xs' )
// Main colors
$c-white          : #FFFFFF
$c-alabaster      : #F7F7F7
$c-athens-gray    : #EBEBEF
$c-alto           : #DADADA
$c-silver-chalice : #9D9D9D
$c-tundora        : #444444
$c-mine-shaft     : #3D3D3D
$c-surfie-green   : #0E7D7D
$c-caribbean-green: #00D06C
$c-boston-blue    : #3F88C5
$c-cornflower-blue: #518EF8
$c-brick-red      : #CC2936
// UI elements
$body-bg: $c-athens-gray
// Sizes
$header-height: 80px
// Radiuses
$r-primary  : 3px
$r-secondary: 10px
// Shadows
$s-primary  : 0px 4px 5px rgba(0, 0, 0, 0.05)
$s-secondary: -5px 0 20px 0 rgba(0,0,0,.25)
// Overlays
$o-primary: rgba(0, 0, 0, 0.54)
