// Grid
$columns: 12
$gutter : 30px
// Fonts
$base-font-size  : 16px
$base-font-family: 'Open Sans', sans-serif
// Containers
$cnt-xxl: 1720px
$cnt-xl : 1140px
$cnt-lg : 960px
$cnt-md : 720px
$cnt-sm : 540px
$cnt-xs : 100%
// Breakpoints
$bp-xxl: 1360px
$bp-xl : 1199px
$bp-lg : 991px
$bp-md : 767px
$bp-sm : 576px
$bp-xs : 360px
// Maps
$containers : ( $bp-xxl: $cnt-xl, $bp-xl: $cnt-lg, $bp-lg: $cnt-md, $bp-md: $cnt-sm, $bp-sm: $cnt-xs )
$breakpoints: ( $bp-xxl: 'xxl', $bp-xl: 'xl', $bp-lg: 'lg', $bp-md: 'md', $bp-sm: 'sm', $bp-xs: 'xs' )
// Main colors
$c-white          : #FFFFFF
$c-athens-gray    : #EBEBEF
$c-mine-shaft     : #3D3D3D
$c-alto           : #DADADA
$c-silver-chalice : #9D9D9D
$c-tundora        : #444444
$c-surfie-green   : #0E7D7D
$c-cornflower-blue: #518EF8
$c-boston-blue    : #3F88C5
$c-brick-red      : #CC2936
$c-alabaster      : #F7F7F7
// UI elements
$body-bg: $c-athens-gray
// Sizes
$r-primary: 3px
// Shadows
$s-primary: 0px 4px 5px rgba(0, 0, 0, 0.05)
