include /partials/form-steps
include /partials/select
include /partials/radio
include /partials/input
include /partials/input-animation
include /partials/button
include /partials/checkbox
include /partials/textarea
include /partials/documents-list
include /partials/status-message
include /partials/upload-documents

form.application-form
  .application-form__title
    h2 Application form <span class="text-surfie-green">1/3</span>
  .application-form__item
    +form-steps([
      {title:'Services & Prices', done:true},
      {title:'Education & Legal', active:true},
      {title:'Contact information'},
    ])
  .application-form__item
    include ./card-1
  .application-form__item
    include ./card-2
  .application-form__item
    include ./card-3
  .application-form__item
    include ./card-4
  .application-form__item
    include ./card-5
  .application-form__item
    include ./card-6
  .application-form__item
    .button-group
      +button({classes:'button-group__button', bg:'white'})(href="application-page-1.html")| Back
      +button({classes:'button-group__button', bg:'surfie-green'})(href="application-page-3.html")| Next
      +button({classes:'button-group__button', bg:'transparent'})| Discard
