.application-form__card.application-form__card--sm
  .row-group.row-group--align-center.row-group--nowrap
    .row-group__item
      +status-message({title:'Fill 2 nessesary fields.', icon:{name:'exclamation', width:'9', height:'22'}, color:'brick-red'})
    .row-group__item
      +button({border:'surfie-green', classes:'js-scroll-up'})(type="button")
        span Up
        +icon({name:'arrow-up', fill:'surfie-green', width:'10', height:'14', classes:'button__icon'})
