.application-form__card

  .application-form__card-line
    .column-group.column-group--sm
      .column-group__item
        p.font-semibold Documents:
      .column-group__item
        p
          | - Attach your Diplomas if avaliable<br/>
          | - Attach your CV<br/>
          | - Attach your document with that you can issue the invoice
  .application-form__card-line
    .row
      div(class="col-12 col-lg-8")
        +upload-documents()
