.application-form__card

  .application-form__card-line
    p.text-brick-red.font-semibold *Choose Yes or No to continue
  .application-form__card-line
    .form-group
      .form-group__header
        h5 Do you have a diploma?
      .row-group
        .row-group__item
          +radio({label:'Yes', name:'diploma', value:'yes'})(data-radio-toggle)
        .row-group__item
          +radio({label:'No', name:'diploma', value:'no'})

  div(data-radio-toggle-content="diploma")
    .application-form__card-line
      .row
        .col-12.col-lg-8
          .form-group
            .form-group__header
              p <span/ class="h3 text-surfie-green">#1</span> Your diploma:
            .row
              .col-12.col-md-6.mb-15.mb-md-0
                +input({border:'alto'})(type="text" placeholder="Diploma type (ex. bacaular)")
              .col-12.col-md-6
                +input-animation({label:'Category:'})(type="text" value="Translator" id="category")

    .application-form__card-line
      +button({border:'surfie-green'})(type="button")
        span One more
        +icon({name:'plus', fill:'surfie-green', width:'14', height:'14', classes:'button__icon'})
