/* Typography styles */
html, body
  font-family: $base-font-family
  font-size: $base-font-size
  text-align: left
  font-weight: 400
  color: $c-mine-shaft

h1, .h1
  font-size: rem(40px)
  line-height: 1.2
  font-weight: 700
h2, .h2
  font-size: rem(35px)
  line-height: 1.2
  font-weight: 700

p, .p
  font-size: rem(16px)
  line-height: 1.4
  font-weight: 400

// Colors
.text-white
  color: $c-white
.text-mine-shaft
  color: $c-mine-shaft
.text-surfie-green
  color: $c-surfie-green

// Font weights
.font-regular
  font-weight: 400
.font-semibold
  font-weight: 600

// Text alignings
.text-left
  text-align: left
.text-center
  text-align: center
.text-right
  text-align: right

// Text transforms
.text-uppercase
  text-transform: uppercase

// Text decorations
.text-underline
  text-decoration: underline
