.employers-page
  padding-bottom: 60px
  &__wrap
    margin-top: 40px
  &__heading
    position: relative
    margin-bottom: 35px
    display: flex
    justify-content: space-between
    align-items: center
