include /partials/form-steps
include /partials/input-animation
include /partials/button
include /partials/checkbox

form.application-form
  .application-form__title
    h2 Application form <span class="text-surfie-green">1/3</span>
  .application-form__item
    +form-steps([
      {title:'1. Services & Prices', done:true},
      {title:'2. Education & Legal', done:true},
      {title:'3. Contact information', active:true},
    ])
  .application-form__item
    include ./card-1
  .application-form__item
    include ./card-2
  .application-form__item
    include ./card-3
  .application-form__item
    include ./card-4
  .application-form__item
    +button({fluid:true})(type="button" data-modal-open="registration-success-modal")| Complete application
